<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
</head>
<body>
  <div x-data="{ 
    username: '', 
    password: '', 
    message: '',
    login() {
      fetch('/api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          username: this.username,
          password: this.password,
        }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            window.location.href = '/main';
            // console.log('Login successful');
          }
          this.message = data.message;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  }">
    <h2>Login Form</h2>
    <form @submit.prevent="login">
      <div>
        <!-- <h6 x-text="username"></h6> -->
        <label for="username">Username:</label>
        <input type="text" id="username" x-model="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" x-model="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <p x-text="message"></p>
  </div>
</body>
</html>
