<!DOCTYPE html>
<html>
<head>
  <title>Report Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
</head>
<body>
  <%- include('./partials/nav'); %>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Report Page</h1>
    <div x-data="{
      data: [],
      fetchData() {
        console.log('Fetching data');
        fetch('/api/user')
          .then(response => response.json())
          .then(result => {
            console.log(result);
            this.data = result.data;
          })
          .catch(error => {
            console.error('Error:', error);
          });
      },
      deleteUser(userId) {
        fetch(`/api/user/${userId}`, {
          method: 'DELETE'
        })
          .then(response => {
            if (response.ok) {
              // Remove the deleted user from the data array
              this.data = this.data.filter(user => user._id !== userId);
            } else {
              console.error('Error deleting user');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      },
      editUser(userId) {
        window.location.href = `/edit-user/${userId}`;
      },
      editProfile(userId) {
        window.location.href = `/edit-profile/${userId}`;
      }
    }" x-init="fetchData()">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="item in data">
            <tr>
              <td x-text="item.username"></td>
              <td x-text="item.password"></td>
              <td x-text="item.role"></td>
              <td>
                <button class="btn btn-danger btn-sm mr-2" @click="deleteUser(item._id)">Delete</button>
                <button class="btn btn-primary btn-sm" @click="editUser(item._id)">Edit</button>
                <button class="btn btn-primary btn-sm" @click="editProfile(item._id)">Detail</button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      <div class="text-center mt-4">
        <button class="btn btn-secondary" onclick="history.back()">Back</button>
      </div>
    </div>
  </div>
</body>
</html>
